<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EJS Template Engine Implementation</title>
    </head>
    <body>
        <%- include('common/header')%>
        <h2>Welcome to Login page</h2>

    </body>
</html>
